Node-Red_Backend/Node-red Flows.json
[{"id":"bd393ac0.ca1eb8","type":"tab","label":"Mqtt to DB","disabled":false,"info":""},{"id":"9826db43.200fe8","type":"tab","label":"Ping response","disabled":false,"info":""},{"id":"c51201f0.8880a","type":"tab","label":"Wetter api","disabled":false,"info":""},{"id":"acc3ac7e.be199","type":"tab","label":"Last seen","disabled":false,"info":""},{"id":"67da8708.ae2268","type":"mqtt-broker","name":"IoTree42Server","broker":"iot.beratende-ingenieure.it","port":"8883","tls":"f6fdfdaf.0baaf","clientid":"smartphone","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f6fdfdaf.0baaf","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"DST_Root_CA_X3.pem","servername":"","verifyservercert":true},{"id":"4b4c1aa0.de4e84","type":"mqtt-broker","name":"local Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d00d6b9a.2d44c8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d81b9215.ecfe2","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"a005891f.a6a3a8","type":"mqtt in","z":"bd393ac0.ca1eb8","name":"","topic":"gateways/#","qos":"2","datatype":"auto","broker":"d00d6b9a.2d44c8","x":130,"y":120,"wires":[["bd5c5603.540048","4d4aa4a3.cb7bec"]]},{"id":"bd5c5603.540048","type":"json","z":"bd393ac0.ca1eb8","name":"","property":"payload","action":"","pretty":false,"x":290,"y":120,"wires":[["aee414fa.ecc038","41e3ef8f.58891"]]},{"id":"a82b63fa.2b073","type":"comment","z":"bd393ac0.ca1eb8","name":"Save data to db","info":"","x":120,"y":80,"wires":[]},{"id":"aee414fa.ecc038","type":"function","z":"bd393ac0.ca1eb8","name":"Check for DONOTSAVE","func":"if (!msg.topic.includes(\"DONOTSAVE\")){\n    if (msg.topic.includes(\"SAVEJSON\")){\n        msg.topicparts = msg.topic.split(\"/\");\n        return [null, msg];\n    }\n    msg.topicparts = msg.topic.split(\"/\");\n    return [msg, null];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":290,"y":180,"wires":[["55b692e1.355b1c"],["f47c61d6.db2c28"]]},{"id":"83d9a8d0.234158","type":"function","z":"bd393ac0.ca1eb8","name":"pre-save preperation","func":"\n\n\n// get timestamp\n// get database\n// get measurement as tags\n// get payload  as fields\n// get everything in a Array if nessesery\n\nvar msg1 = {};\nmsg1.dataarray = [];\nmsg1.database = msg.topicparts[1];\nmsg.topicparts.splice(0, 2);\ntopic = msg.topicparts.join(\"/\");\n\nfor (var ob in msg.payload){\n    msg1.dataarray[ob] = {};\n    msg1.dataarray[ob][\"measurement\"] = topic;\n    msg1.dataarray[ob][\"tags\"] = { tag: topic };\n    msg1.dataarray[ob][\"timestamp\"] = (msg.payload[ob].timestamp * 1000000000) || undefined;\n    msg1.dataarray[ob][\"fields\"] =  msg.payload[ob]\n}\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":200,"wires":[["9eeeca72.471af8"]]},{"id":"9eeeca72.471af8","type":"function","z":"bd393ac0.ca1eb8","name":"Save Data to Influxdb","func":"const Influx = global.get(\"influx\")\n\nconst client = new Influx.InfluxDB({\n  host: 'localhost',\n  port: 8086,\n  username: 'mqttodb',\n  password: '******', // get the credentials from /etc/iotree/config.json\n})\n\nmsg.payload = client.writePoints( msg.dataarray, {\n  database: msg.database,\n  precision: 'ns'\n})\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":200,"wires":[[]]},{"id":"55b692e1.355b1c","type":"function","z":"bd393ac0.ca1eb8","name":"flattering the payload","func":"var flattenObject = function(ob) {\n\tvar toReturn = {};\n\t\n\tfor (var i in ob) {\n\t\tif (!ob.hasOwnProperty(i)) continue;\n\t\t\n\t\tif ((typeof ob[i]) == 'object' && ob[i] !== null) {\n\t\t\tvar flatObject = flattenObject(ob[i]);\n\t\t\tfor (var x in flatObject) {\n\t\t\t\tif (!flatObject.hasOwnProperty(x)) continue;\n\t\t\t\t\n\t\t\t\ttoReturn[i + '.' + x] = flatObject[x];\n\t\t\t}\n\t\t} else {\n\t\t\ttoReturn[i] = ob[i];\n\t\t}\n\t}\n\treturn toReturn;\n};\n\nvar msg1 = {};\n\nif (!Array.isArray(msg.payload)){\n    msg.payload = [msg.payload]\n}\n\nmsg1.payload = [];\nfor (var ob in msg.payload) {\n    msg1.payload[ob] = flattenObject(msg.payload[ob]);\n}\nmsg1.topicparts = msg.topicparts;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":180,"wires":[["83d9a8d0.234158"]]},{"id":"c1db1e8.02e24e","type":"comment","z":"bd393ac0.ca1eb8","name":"Controle Gateways","info":"","x":130,"y":440,"wires":[]},{"id":"74d2d6b1.328f58","type":"comment","z":"9826db43.200fe8","name":"ping response","info":"","x":110,"y":60,"wires":[]},{"id":"4b14b6d2.aab968","type":"mqtt in","z":"9826db43.200fe8","name":"","topic":"gateways/+/+/SYSTEMcontrol/ping","qos":"2","datatype":"auto","broker":"d00d6b9a.2d44c8","x":200,"y":120,"wires":[["4c6467b.8df0698","357e355c.e5d3da"]]},{"id":"88f2db6e.e05718","type":"function","z":"9826db43.200fe8","name":"","func":"\nif (msg.topic !== undefined){\n    msg.payload.servertimestamp = Date.now()/1000;\n    if (msg.payload.timestamp !== undefined){\n        msg.payload.ClientToServerDelay = msg.payload.servertimestamp - msg.payload.timestamp;\n    }\n    var topicparts = msg.topic.split(\"/\");\n    topicparts = topicparts.slice(0,-2);\n    topicparts.push(\"SYSTEMcontrolDONOTSAVE\");\n    topicparts.push(\"pingresponseServer\");\n    msg.topic = topicparts.join(\"/\");\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":240,"wires":[["6d643ffd.72fbf"]]},{"id":"6d643ffd.72fbf","type":"mqtt out","z":"9826db43.200fe8","name":"","topic":"","qos":"2","retain":"","broker":"d00d6b9a.2d44c8","x":750,"y":240,"wires":[]},{"id":"7b5bb90d.ea1278","type":"json","z":"9826db43.200fe8","name":"","property":"payload","action":"","pretty":false,"x":370,"y":200,"wires":[["88f2db6e.e05718"]]},{"id":"4b203b40.2e4be4","type":"inject","z":"9826db43.200fe8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"gateways/test/test/SYSTEMcontrol/ping","payload":"{\"timestamp\": 1614009908}","payloadType":"json","x":180,"y":240,"wires":[["88f2db6e.e05718"]]},{"id":"eb8130f7.c04af","type":"link out","z":"bd393ac0.ca1eb8","name":"Mqtt to DB all incoming","links":["ee95551b.d59208"],"x":975,"y":120,"wires":[]},{"id":"ee95551b.d59208","type":"link in","z":"acc3ac7e.be199","name":"lasst seen","links":["eb8130f7.c04af"],"x":75,"y":100,"wires":[["35d7ce1f.161bc2"]]},{"id":"87c370f6.fb3c4","type":"comment","z":"acc3ac7e.be199","name":"Save to telegraph","info":"","x":300,"y":60,"wires":[]},{"id":"97b89e9.4b3566","type":"trigger","z":"bd393ac0.ca1eb8","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"29","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"topic","topic":"topic","outputs":1,"x":830,"y":120,"wires":[["eb8130f7.c04af"]]},{"id":"35d7ce1f.161bc2","type":"function","z":"acc3ac7e.be199","name":"","func":"const Influx = global.get(\"influx\")\n\ntopicparts = msg.topic.split(\"/\");\n//username: topicparts[1], gatewayid: topicparts[2],\nfieldkey = \"heartbeat_\"+  topicparts[1] + \"_\" +topicparts[2];\n\ndatapoint = {\n    measurement: 'gatewaylastseen',\n    tags: { tag: topicparts[1] +\"/\"+topicparts[2], usernametag: topicparts[1], gatewayidtag: topicparts[2] },\n    fields: { topic: topicparts[1] +\"/\"+topicparts[2] },\n    timestamp: Date.now()*1000000,\n    };\n\ndatapoint.fields[fieldkey] = 1;\n\nconst client = new Influx.InfluxDB({\n  host: 'localhost',\n  port: 8086,\n  username: 'mqttodb',\n  password: '*******',    // get the credentials from /etc/iotree/config.json\n})\n\nmsg.payload = client.writePoints( [datapoint\n    ], {\n  database: \"telegraf\",\n  precision: 'ns'\n})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":100,"wires":[[]]},{"id":"41e3ef8f.58891","type":"function","z":"bd393ac0.ca1eb8","name":"reduce topic to  name and id","func":"var msg1 = {};\ntopicparts = msg.topic.split(\"/\");\nmsg1.topic = \"gateways/\"+topicparts[1] + \"/\" +topicparts[2];\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":120,"wires":[["97b89e9.4b3566"]]},{"id":"5782324d.05d54c","type":"mqtt in","z":"c51201f0.8880a","name":"","topic":"gateways/+/+/SYSTEMcontrolDONOTSAVE/weather","qos":"2","datatype":"auto","broker":"d00d6b9a.2d44c8","x":250,"y":80,"wires":[["4aad93cc.36e7ac"]]},{"id":"ed946df4.9807a","type":"function","z":"c51201f0.8880a","name":"reduce topic to name","func":"\ntopicparts = msg.topic.split(\"/\");\nmsg.topicstring = msg.topic;\nmsg.topic = \"gateways/\"+ topicparts[1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":120,"wires":[["c1a69065.631f9"]]},{"id":"c1a69065.631f9","type":"trigger","z":"c51201f0.8880a","name":"","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"10","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"topic","topic":"topic","outputs":1,"x":480,"y":160,"wires":[["17126cb7.7ced13"]]},{"id":"17126cb7.7ced13","type":"function","z":"c51201f0.8880a","name":"Get weather from openweatherapi","func":"var msg1 = {}\nvar msg2 = {}\nmsg1.topicstring = msg.topicstring;\nmsg2.topicstring = msg.topicstring;\nif(msg.payload.mode === \"current\"){\n    msg1.url = \"https://api.openweathermap.org/data/2.5/weather\"\n}else if(msg.payload.mode === \"hourly\"){\n    msg1.url = \"https://api.openweathermap.org/data/2.5/forecast\"\n}else if(msg.payload.mode === \"onecall\"){\n    msg1.url = \"https://api.openweathermap.org/data/2.5/onecall\"\n}else {\n    msg2.payload = {error : \"Mode is wrong or missing please check! select from: current,hourly\", example:\"mode:current\"};\n    return [null,msg2]\n}\nif(msg.payload.city && msg.payload.state && msg.payload.countrycode){\n    q = [msg.payload.city, msg.payload.state, msg.payload.countrycode];\n    msg1.payload = {q : q.join(\",\")};\n    msg1.payload.units = \"metric\"\n    msg1.payload.appid=\"********\";    // place your API key here. Available on openweathermap.org.\n    if (msg.payload.lang !== undefined){\n        msg1.payload.lang = msg.payload.lang\n    }\n    return [msg1,null];\n}else if(msg.payload.lat && msg.payload.lon){\n    msg1.payload = {};\n    msg1.payload.lat = msg.payload.lat;\n    msg1.payload.lon = msg.payload.lon;\n    msg1.payload.units = \"metric\"\n    msg1.payload.appid= \"*********\";   //place your API key here. Available on openweathermap.org.\n    if (msg.payload.lang !== undefined){\n        msg1.payload.lang = msg.payload.lang\n    }\n    return [msg1,null];\n}else {\n    msg2.payload = {error : \"Location is wrong or missing please check! ether lat and lon or city,state,countrycode\", example: \"lat:11,lon:35 or city:London,state:London,countrycode:GB\"};\n    return [null,msg2]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":640,"y":200,"wires":[["7e13e8c7.615058"],["23bd601f.80c7e"]]},{"id":"7e13e8c7.615058","type":"http request","z":"c51201f0.8880a","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"","tls":"d81b9215.ecfe2","persist":false,"proxy":"","authType":"","x":950,"y":180,"wires":[["23bd601f.80c7e"]]},{"id":"a44e96bb.95d4f8","type":"json","z":"c51201f0.8880a","name":"","property":"payload","action":"","pretty":false,"x":1310,"y":200,"wires":[["dbc32302.f2f46","46c1b76e.107968"]]},{"id":"4aad93cc.36e7ac","type":"json","z":"c51201f0.8880a","name":"","property":"payload","action":"","pretty":false,"x":210,"y":120,"wires":[["ed946df4.9807a"]]},{"id":"af27077b.7a0268","type":"inject","z":"c51201f0.8880a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"gateways/test/test/SYSTEMcontrolDONOTSAVE/weather","payload":"{\"city\":\"Zorneding\",\"state\":\"bavaria\",\"countrycode\":\"DE\",\"mode\":\"current\"}","payloadType":"json","x":140,"y":260,"wires":[["ed946df4.9807a"]]},{"id":"23bd601f.80c7e","type":"function","z":"c51201f0.8880a","name":"","func":"var msg1 = {}\nmsg1.topic = msg.topicstring + \"Response\";\nmsg1.payload = msg.payload\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":200,"wires":[["a44e96bb.95d4f8"]]},{"id":"dbc32302.f2f46","type":"mqtt out","z":"c51201f0.8880a","name":"","topic":"","qos":"2","retain":"","broker":"d00d6b9a.2d44c8","x":1470,"y":200,"wires":[]},{"id":"46c1b76e.107968","type":"debug","z":"c51201f0.8880a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1600,"y":280,"wires":[]},{"id":"4c6467b.8df0698","type":"trigger","z":"9826db43.200fe8","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"29","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"topic","topic":"topic","outputs":1,"x":310,"y":160,"wires":[["7b5bb90d.ea1278"]]},{"id":"c4856166.97bbb","type":"catch","z":"bd393ac0.ca1eb8","name":"","scope":null,"uncaught":false,"x":120,"y":400,"wires":[["ab2da0ba.c7bba"]]},{"id":"ab2da0ba.c7bba","type":"debug","z":"bd393ac0.ca1eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":320,"y":400,"wires":[]},{"id":"357e355c.e5d3da","type":"debug","z":"9826db43.200fe8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":120,"wires":[]},{"id":"4d4aa4a3.cb7bec","type":"debug","z":"bd393ac0.ca1eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":320,"y":80,"wires":[]},{"id":"a6f60a8.22a4bf8","type":"function","z":"bd393ac0.ca1eb8","name":"payload","func":"var msg1 = {};\n\nmsg.payload = { \"jsonstring\" : msg.payload}\n\n\nif (!Array.isArray(msg.payload)){\n    msg.payload = [msg.payload]\n}\n\nmsg1.payload = [];\nfor (var ob in msg.payload) {\n    msg1.payload[ob] = msg.payload[ob];\n}\nmsg1.topicparts = msg.topicparts;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":220,"wires":[["83d9a8d0.234158"]]},{"id":"f47c61d6.db2c28","type":"json","z":"bd393ac0.ca1eb8","name":"","property":"payload","action":"str","pretty":false,"x":490,"y":220,"wires":[["a6f60a8.22a4bf8"]]},{"id":"f36328d7.773b78","type":"comment","z":"c51201f0.8880a","name":"Weather API Info","info":"This Flow is using openweatherapi.com an api key is need to work with this endpoint.\n\nThis Flow will enable users of IoTree42 to send a query via MQTT which will be forwardedt to openweatherapi and the respnce is send back to the user. \n\nThe user can then decide what should be done with weather data, e.g. sending it back storing in the Cloud or simply desplaying it on a dashboard at home.","x":100,"y":40,"wires":[]}]